/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable */
/* Keep reset CSS to one minified line */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}html,.reset{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* set base html style for all pages */
html {
  background-color: #9B9B9B;
  padding-right: 2.0em; /* =32px */
  padding-left: 2.0em;
  font-family: monospace;
  font-size: 1.2em;
}

/* h1 text style */
h1 {
  font-size: 1.8em; /* =28px */
  font-weight: bold;
  padding-top: 0.6em; /* =9px */
  padding-bottom: 0.2em; /* 3px */
}

/* h2 text style */
h2 {
  font-size: 1.7em; /* =27px */
  font-weight: bold;
  padding-top: 0.6em;
  padding-bottom: 0.2em;
}

/* footer text style */
footer {
  font-size: 0.8em; /* =12px */
  padding-top: 0.6em;
}

/* paragraph text style */
p {
  padding-top: 0.5em; /* =8px */
  padding-bottom: 0.5em;
}

/* figcaption text style */
figcaption {
  font-style: italic;
  font-size: 0.9em; /* =14px */
  padding-bottom: 0.3em; /* =4px */
}

/* ovw content container style */
.container {
  display: grid;
  width: 80%;
  height: auto;
  padding-top: 0.6em;
  padding-bottom: 0.6em;
  padding-right: 0.6em;
}

/* collection content container style */
.container1 {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 0em;
}

/* ovw image style */
.responsive {
    width: 50%;
    height: auto;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
    padding-right: 0.6em;
}

/* collection image style */
.responsive1 {
    width: 100%;
    height: auto;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
    padding-right: 0.6em;
  }

/* resume image style */
.responsive2 {
    display: flex;
    width: 30%;
    height: auto;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
    padding-right: 0.6em;
}

/* media queries */
@media screen and (max-width: 600px) {
  html {
    font-size: 1.4em;
    padding-right: 2.1em;
    padding-left: 2.1em;
  }
    }

 @media screen and (max-width: 800px) {
   html {
     font-size: 1.6em;
     padding-right: 2.2em;
     padding-left: 2.2em;
   }
    }
