/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable */
/* Keep reset CSS to one minified line */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}html,.reset{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* set base html style for all pages */
html {
  background-color: #9B9B9B;
  padding-right: 2.0em; /* =32px */
  padding-left: 2.0em;
  font-family: sans-serif;
  font-size: 1.2em;
}

/* h1 text style */
h1 {
  font-size: 1.8em; /* =28px */
  font-weight: bold;
  padding-top: 0.6em; /* =9px */
  padding-bottom: 0.2em; /* 3px */
}

/* h2 text style */
h2 {
  font-size: 1.7em; /* =27px */
  font-weight: bold;
  padding-top: 0.6em;
  padding-bottom: 0.2em;
}

/* footer text style */
footer {
  font-size: 0.8em; /* =12px */
  padding-top: 0.6em;
}

/* paragraph text style */
p {
  padding-top: 0.5em; /* =8px */
  padding-bottom: 0.5em;
}

/* figcaption text style */
figcaption {
  font-style: italic;
  font-size: 0.9em; /* =14px */
  padding-bottom: 0.3em; /* =4px */
}

/* ovw content container style */
.container {
  display: grid;
  width: 80%;
  height: auto;
  padding-top: 0.6em;
  padding-bottom: 0.6em;
  padding-right: 0.6em;
}

/* The grid: Four equal columns that floats next to each other */
.column {
    float: left;
    width: 15%;
    padding: 5px;
}

/* Style the images inside the grid */
.column img {
    opacity: 0.8;
    cursor: pointer;
}

.column img:hover {
    opacity: 1;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* The expanding image container (positioning is needed to position the close button and the text) */
.container1 {
    position: relative;
    display: none;
}

/* Expanding image text */
#imgtext {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 20px;
}

/* Closable button inside the image */
.closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: white;
    font-size: 35px;
    cursor: pointer;
}

/* ovw image style */
.responsive {
    width: 50%;
    height: auto;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
    padding-right: 0.6em;
}

/* collection image style */
.responsive1 {
    width: 100%;
    height: auto;
  }

/* resume image style */
.responsive2 {
    display: flex;
    width: 30%;
    height: auto;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
    padding-right: 0.6em;
}

.nav a,
#navigation h2 a {
  background: #858585;
  border-radius: 6px;
  color: white;
  display: block;
  line-height: 1;
  margin: 6px;
  padding: 14px;
  text-decoration: none;
}
.nav a:hover,
a#menu-button:focus {
  background: #5e5d5d;
}

/* State Styles */
.js .nav {
  display: none;
}
.js .nav.visible {
  display: block;
}

/* media queries */
@media screen and (max-width: 600px) {
  html {
    font-size: 1.4em; /* =22px */
    padding-right: 1.3em; /* =33px */
    padding-left: 1.3em;
  }
    }

 @media screen and (max-width: 800px) {
   html {
     font-size: 1.4em; /* =25px */
     padding-right: 1.2em; /* =35px */
     padding-left: 1.2em;
   }
    }
